body {
    width: 100% !important;
    height: 100% !important;
}

ons-toast {
    line-height: 36px !important;
}

ons-page {
    width: 100% !important;
    height: 100% !important;
}

.thumbnail {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    margin-bottom: 10px;
    flex-grow: 1;
    position: relative;
}

.close-button {
    z-index: 20;
    float: right;
    margin-top: 0;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    text-align: center;
    color: white;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.ons-list {
    padding: 0px;
}

.thumbnail-attach {
    border-style: dashed;
    border-color: black;
    border-width: 2px;
}

.deber-noimg-thumbnail {
    border-style: dashed;
    border-color: black;
    border-width: 2px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-baby {
    height:100%;
    width:100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.add-img-thumbnail {
    border-width: 2px;
    border-style: dashed;
    border-radius: 3px;
    border-color: black;
}

#contenido {
    width: 100%;
}

.card-fluid {
    width: 100% !important; 
    height: 100% !important;
    margin: 0;
}

#thumbnail-list {
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
}

.spinner { 
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.magic-center, .pregunta-box { 
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#adscripto-encuestas-create-pregunta .page__background {
    background: #fff;
}